body {
    font-family: sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: #ccc;
    border: none;
    cursor: pointer;
  }
  